<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindset.mapper.MemoMapper">

    <!-- 전체 조회 -->
    <select id="findAllByUserId" resultType="com.mindset.model.dto.Memo">
        SELECT * FROM memos WHERE user_id = #{userId}
    </select>

    <!-- 상세 조회 -->
    <select id="findByMemoId" resultType="com.mindset.model.dto.Memo">
        SELECT * FROM memos WHERE memo_id = #{memoId}
    </select>

    <!-- 생성 -->
    <insert id="createMemo" parameterType="com.mindset.model.dto.Memo">
        INSERT INTO memos (user_id, title, content, category)
        VALUES (#{userId}, #{title}, #{content}, #{category})
    </insert>

    <!-- 수정 -->
    <update id="updateMemo" parameterType="com.mindset.model.dto.Memo">
        UPDATE memos
        SET title = #{title},
        content = #{content},
        category = #{category}
        WHERE memo_id = #{memoId}
    </update>

    <!-- 삭제 -->
    <delete id="deleteMemo" parameterType="long">
        DELETE FROM memos WHERE memo_id = #{memoId}
    </delete>

</mapper>
